.home {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 50vw;
  height: 80vh;
  justify-content: center;
  margin: auto;
  border-radius: 1rem;
  background-color: white;
}

.home-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.home-button {
  font-size: 1.8rem;
  margin: 0 5%;
  cursor: pointer;
  padding-top: 4vh;
  padding-bottom: 8px;
  border-bottom: 4px solid transparent;
  color: gray;
}

.active {
  font-weight: 600;
  border-bottom: 4px solid salmon;
  color: rgb(81, 80, 80);
}
